.divGeral{
    width: 100%;

}
body{
 background-color: white;
}

.divAjuda{
    height:60vh;
}
.nav{
    height:120px;
}
.pergunta{
    display:flex;
    flex-direction: row;
    align-items: center;
    justify-content: flex-start;
    width:90% !important;
    height:24% !important;
}
.pergunta h6,i{
    margin:0;
    color: white;
    margin-left:9px;
}
.pergunta i{
    margin-right: 9px;
}
.resposta{
    background-color: #f1f2f3;
    width:90% !important;
}
