.imgCircle{
    width:74px !important;
    height:74px !important;
    max-width: none !important;

}
.img-thumbnail{
    object-fit: cover;
}
.Contato{
    min-width: 271px;
}

#fundoOpaco{
    background:black;
    opacity:0.5;
    position: absolute;
        width: 100%;
        left: 0;
        top:0;
}
.alertaSucesso{
    position: absolute;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: start;
    padding-left: 10px;
    width: 360px;
    height: 54px;
    z-index: 1;
    left: 77.7%;
    top:8%;
}
